
 <!-- WORK -->
 <section id="work" class="full-height px-lg-5">
  <div class="container">

    <div class="row pb-4" data-aos="fade-up">
      <div class="col-lg-8">
        <h6 class="text-brand">PROYECTOS</h6>
        <h1>Mis proyectos recientes</h1>
      </div>
    </div>

    <div class="row gy-4">

      <div class="col-md-6" data-aos="fade-up">
        <div class="card-custom rounded-4 bg-base shadow-effect">
          <div class="card-custom-image rounded-4">
            <img class="rounded-4" src="../../../assets/images/project-1.jpg" alt="">
          </div>
          <div class="card-custom-content p-4">
            <h4>DrewArchitecture</h4>
            <p>Página web diseñada para permitir al usuario ver las viviendas que ofrece la constructora y explorarlas a través de imágenes.</p>
            <div class="link-all">
                <a href="https://github.com/drewrdev/drewarchitecture" target="_blank" class="link-custom"><i class="lab la-github i-w"></i>Codigo Github</a>
                <a href="https://drewarchitecture.netlify.app/" target="_blank" class="link-custom"><i class="las la-globe i-w"></i>Sitio Web</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="card-custom rounded-4 bg-base shadow-effect">
          <div class="card-custom-image rounded-4">
            <img class="rounded-4" src="../assets/images/project-2.jpg" alt="">
          </div>
          <div class="card-custom-content p-4">
            <h4>DrewCafeteria</h4>
            <p>Página web diseñada para permitir al usuario ver el menú de la Cafetería, conocer un poco de su historia y todo lo que ofrece.</p>
            <div class="link-all">
              <a href="https://github.com/drewrdev/cafeteriamenu" target="_blank" class="link-custom"><i class="lab la-github i-w"></i>Codigo Github</a>
              <a href="https://drewcafeteria.netlify.app" target="_blank" class="link-custom"><i class="las la-globe i-w"></i>Sitio Web</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6" data-aos="fade-up">
        <div class="card-custom rounded-4 bg-base shadow-effect">
          <div class="card-custom-image rounded-4">
            <img class="rounded-4" src="../assets/images/project-3.jpg" alt="">
          </div>
          <div class="card-custom-content p-4">
            <h4>DrewPodcastFM</h4>
            <p>Página web diseñada para permitir al usuario crear una cuenta para publicar su Podcast, con un respectivo plan inicial el cual podrá ampliar cuando lo desee.</p>
            <div class="link-all">
              <a href="https://github.com/drewrdev/podcast" target="_blank" class="link-custom"><i class="lab la-github i-w"></i>Codigo Github</a>
              <a href="https://podcatsfm.netlify.app/" target="_blank" class="link-custom"><i class="las la-globe i-w"></i>Sitio Web</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="card-custom rounded-4 bg-base shadow-effect">
          <div class="card-custom-image rounded-4">
            <img class="rounded-4" src="../assets/images/project-4.jpg" alt="">
          </div>
          <div class="card-custom-content p-4">
            <h4>DrewMaps</h4>
            <p>Este proyecto permite al usuario ver su ubicación actual, y explorar el Mapa libremente o ingresando una ubicación, ya sea País, Capital o Región.</p>
            <div class="link-all">
              <a href="https://github.com/drewrdev/maps-app" target="_blank" class="link-custom"><i class="lab la-github i-w"></i>Codigo Github</a>
              <a href="#" target="_blank" class="link-custom"><i class="las la-globe i-w"></i>Sitio Web</a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>