/* CARD */
.card-custom .card-custom-image {
  overflow: hidden;
}

.card-custom .card-custom-image img {
  transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
  transform: scale(1.1);
}

/* .card-custom-image {
  height: 30rem;
} */

/* LINK`s */

.link-custom {
  font-weight: 700;
  position: relative;
}

.link-custom::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--color-brand);
  position: absolute;
  left: 0;
  top: 110%;
  transition: all 0.4s;
}

.link-custom:hover::after {
  width: 100%;
}


.link-all {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 85%;
}

.i-w {
  margin-right: 5px;
}