<!-- CONTACT -->

<section id="skill" class="full-height px-lg-5">

  <div class="container">

    <div class="row pb-4" data-aos="fade-up">
      <div class="col-lg-8">
        <h6 class="text-brand">HABILIDADES</h6>
        <h1>Mis Habilidades</h1>
      </div>
    </div>

    <div class="row gy-5">
      
      <div class="col-lg-6">
        <div class="row gy-4">
          <div class="col-12" data-aos="fade-up" data-aos-delay="600">
            <div class="bg-base p-4 rounded-4 shadow-effect">
              
              <h4>Habilidades técnicas</h4>
              
              <div class="icon-skill">
                <img src="../../../assets/images/html-5.png" class="d-lg-block rounded-circle" alt="">
                <div class="s-programming">
                  <p class="l-programming">Html</p>
                </div>
              </div>

              <div class="skills s-technical">
                <div class="t-details">
                  <span>60%</span>
                </div>
                <div class="menu">
                  <div id="html-menu"></div>
                </div>
              </div>

              <div class="icon-skill">
                <img src="../../../assets/images/css.png" class="d-lg-block rounded-circle" alt="">
                <div class="s-programming">
                  <p class="l-programming">Css</p>
                </div>
              </div>

              <div class="skills s-technical">
                <div class="t-details">
                  <span>60%</span>
                </div>
                <div class="menu">
                  <div id="css-menu"></div>
                </div>
              </div>

              <div class="icon-skill">
                <img src="../../../assets/images/js.png" class="d-lg-block rounded-circle" alt="">
                <div class="s-programming">
                  <p class="l-programming">JavaScript</p>
                </div>
              </div>

              <div class="skills s-technical">
                <div class="t-details">
                  <span>40%</span>
                </div>
                <div class="menu">
                  <div id="js-menu"></div>
                </div>
              </div>

              <div class="icon-skill">
                <img src="../../../assets/images/angular.png" class="d-lg-block rounded-circle" alt="">
                <div class="s-programming">
                  <p class="l-programming">Angular</p>
                </div>
              </div>

              <div class="skills s-technical">
                <div class="t-details">
                  <span>40%</span>
                </div>
                <div class="menu">
                  <div id="ng-menu"></div>
                </div>
              </div>

              <div class="icon-skill">
                <img src="../../../assets/images/react.png" class="d-lg-block rounded-circle" alt="">
                <div class="s-programming">
                  <p class="l-programming">ReactJs</p>
                </div>
              </div>

              <div class="skills s-technical">
                <div class="t-details">
                  <span>40%</span>
                </div>
                <div class="menu">
                  <div id="react-menu"></div>
                </div>
              </div>

              <div class="icon-skill">
                <img src="../../../assets/images/nodejs.png" class="d-lg-block rounded-circle" alt="">
                <div class="s-programming">
                  <p class="l-programming">NodeJs</p>
                </div>
              </div>

              <div class="skills s-technical">
                <div class="t-details">
                  <span>50%</span>
                </div>
                <div class="menu">
                  <div id="node-menu"></div>
                </div>
              </div>

              <div class="icon-skill">
                <img src="../../../assets/images/mongodb.png" class="d-lg-block rounded-circle" alt="">
                <div class="s-programming">
                  <p class="l-programming">MongoDb</p>
                </div>
              </div>

              <div class="skills s-technical">
                <div class="t-details">
                  <span>60%</span>
                </div>
                <div class="menu">
                  <div id="mongo-menu"></div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="row gy-4">

          <div class="col-12" data-aos="fade-up" data-aos-delay="600">
            <div class="bg-base p-4 rounded-4 shadow-effect">
              
              <h4>Habilidades profesionales</h4>

              <div class="skills">
                <div class="details-p">
                  <span>Comunicación</span>
                  <span>90%</span>
                </div>

                <div class="menu">
                  <div id="c-menu"></div>
                </div>
              </div>

              <div class="skills">
                <div class="details-p">
                  <span>Trabajo en equipo y colaboración</span>
                  <span>80%</span>
                </div>

                <div class="menu">
                  <div id="t-menu"></div>
                </div>
              </div>

              <div class="skills">
                <div class="details-p">
                  <span>Creatividad</span>
                  <span>40%</span>
                </div>

                <div class="menu">
                  <div id="cr-menu"></div>
                </div>
              </div>

              <div class="skills">
                <div class="details-p">
                  <span>Dedicación</span>
                  <span>80%</span>
                </div>

                <div class="menu">
                  <div id="d-menu"></div>
                </div>
              </div>

              <div class="skills">
                <div class="details-p">
                  <span>Manejo del estrés</span>
                  <span>50%</span>
                </div>

                <div class="menu">
                  <div id="s-menu"></div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-12" data-aos="fade-up" data-aos-delay="400">
            <div class="bg-base p-4 rounded-4 shadow-effect">
             
              <h4>Complementos</h4>

              <div class="plugin-box">
                <div class="icon-skill complements">
                  <img src="../../../assets/images/typescript.png" class="d-lg-block rounded-circle" alt="">
                  <span class="t-complement t-java">JavaScript</span>
                </div>

                <div class="icon-skill complements">
                  <img src="../../../assets/images/git.png" class="d-lg-block rounded-circle" alt="">
                  <span class="t-complement">Git</span>
                </div>

                <div class="icon-skill complements">
                  <img src="../../../assets/images/github.png" class="d-lg-block rounded-circle i-complement" alt="">
                  <span class="t-complement">Github</span>
                </div>

              </div>

              <div class="plugin-box">

                <div class="icon-skill complements">
                  <img src="../../../assets/images/bootstrap.png" class="d-lg-block rounded-circle i-complement" alt="">
                  <span class="t-complement t-boots">Bootstrap</span>
                </div>

                <div class="icon-skill complements">
                  <img src="../../../assets/images/sass.png" class="d-lg-block rounded-circle" alt="">
                  <span class="t-complement">Sass</span>
                </div>

                <div class="icon-skill complements">
                  <img src="../../../assets/images/mysql.png" class="d-lg-block rounded-circle" alt="">
                  <span class="t-complement">MySql</span>
                </div>

              </div>

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

</section>

<!-- CONTACT -->