/* CONTACT */

#contact {
  padding: 50px 0;
}

#contact .form-control {
  background-color: var(--color-base);
  border-color: var(--color-base);
  color: var(--color-body);
}

#contact .form-control:focus {
  border-color: var(--color-brand);
  box-shadow: none;
}

#contact .form-control::placeholder {
  color: var(--color-body);
}

#contact input.form-control {
  height: 44px;
}