<!-- ABOUT -->

<section id="about" class="full-height px-lg-5">

  <div class="container">

    <div class="row pb-4" data-aos="fade-up">
      <div class="col-lg-8">
        <h6 class="text-brand">SOBRE MI</h6>
        <h1>Mi Educación y Experiencia.</h1>
      </div>
    </div>

    <div class="row gy-5">
     
      <div class="col-lg-6">

        <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Educación</h3>
        
        <div class="row gy-4">

          <div class="col-12" data-aos="fade-up" data-aos-delay="600">
            <div class="bg-base p-4 rounded-4 shadow-effect">
              <h4>Full Stack Web Developer</h4>
              <p class="text-brand mb-2">NEOLAND (2022 - 2023)</p>
              <div class="mb-0">
                <ul>
                  <li>Desarrollo Back-end con NodeJS y ExpressJS (REST API).</li>
                  <li>Desarrollo Front-end con HTML5, CSS3, JavaScript ES5/ES6, ReactJs y Angular.</li>
                  <li>Base de Datos con MongoDB, Mongoose, MySQL.</li>
                  <li>Pruebas Unitarias : Unit (Jest) , Mocha chai, Jasmine</li>
                  <li>Sistema de Control de versiones Npm, Git, Github & Bash.</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-12" data-aos="fade-up" data-aos-delay="600">
            <div class="bg-base p-4 rounded-4 shadow-effect">
              <h4>Licenciado en Administracion de Empresas</h4>
              <p class="text-brand mb-2">I.U.T Federico Rivero Palacios (2009 - 2015)</p>
              <p class="mb-0">Obtuve conocimientos específicos en las diversas áreas de un departamento de administración,
                además logré adquirir múltiples habilidades basadas en liderazgo, negociación, comunicación y decisión
                realizando, todo ello con el objetivo de lograr una óptima gestión y organización de cualquier empresa.</p>
            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-6">

        <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Experiencia</h3>
        <div class="row gy-4">

          <div class="col-12" data-aos="fade-up" data-aos-delay="600">
            <div class="bg-base p-4 rounded-4 shadow-effect">
              <h4>Full-stack Developer</h4>
              <p class="text-brand mb-2">NEOLAND (2022 - 2023)</p>
              <p class="mb-0">Aprender y adquirir conocimientos para la realización de Proyectos web con distintos lenguajes de programación. Además del aprendizaje con Style-components, librerías de React y la implementación de control de versiones Git.</p>
            </div>
          </div>

          <div class="col-12" data-aos="fade-up" data-aos-delay="600">
            <div class="bg-base p-4 rounded-4 shadow-effect">
              <h4>Agente de Sucursal</h4>
              <p class="text-brand mb-2">Euro Rent A Car (2017 - 2021)</p>
              <p class="mb-0">Como Agente de sucursal me desempeñe, en el área de apertura y cierre de contratos, de chequeo y recepción de vehículos, traslados de flota a otras sucursales a nivel nacional, entre otras.</p>
            </div>
          </div>

          <div class="col-12" data-aos="fade-up" data-aos-delay="600">
            <div class="bg-base p-4 rounded-4 shadow-effect">
              <h4>Analista de Marketing</h4>
              <p class="text-brand mb-2">Innova Solutions (2016 - 2017)</p>
              <p class="mb-0">Mis responsabilidades como analista de marketing, fueron participar activamente en la realización de campañas y estrategias para clientes de campos diferentes, implementando todos los canales del marketing digital.</p>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

</section>

<!-- ABOUT -->