<!-- ABOUT -->

<section id="about" class="full-height px-lg-5">

  <div class="container">

    <div class="row pb-4" data-aos="fade-up">
      <div class="col-lg-8">
        <h6 class="text-brand">ABOUT</h6>
        <h1>My Education & Experiance</h1>
      </div>
    </div>

    <div class="row gy-5">
     
      <div class="col-lg-6">

        <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Education</h3>
        
        <div class="row gy-4">

          <div class="col-12" data-aos="fade-up" data-aos-delay="600">
            <div class="bg-base p-4 rounded-4 shadow-effect">
              <h4>Full Stack Web Developer</h4>
              <p class="text-brand mb-2">NEOLAND (2022 - 2023)</p>
              <div class="mb-0">
                <ul>
                  <li>Back End Development with NodeJS and ExpressJS (REST API).</li>
                  <li>Front End Development with HTML5, CSS3, JavaScript ES5/ES6, ReactJs, Angular.</li>
                  <li>Database with MongoDB, Mongoose, MySQL.</li>
                  <li>Testing : Unit (Jest) , Mocha chai, Jasmine</li>
                  <li>Version control system Npm, Git, Github & Bash.</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-12" data-aos="fade-up" data-aos-delay="600">
            <div class="bg-base p-4 rounded-4 shadow-effect">
              <h4>Bachelor of Business Administration</h4>
              <p class="text-brand mb-2">I.U.T Federico Rivero Palacios (2009 - 2015)</p>
              <p class="mb-0">I obtained specific knowledge in the various areas of the administration department, I
                also managed to acquire multiple skills based on leadership, negotiation, communication and decision
                making, all with the aim of achieving optimal management and organization of any company.</p>
            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-6">

        <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Experiance</h3>
        <div class="row gy-4">

          <div class="col-12" data-aos="fade-up" data-aos-delay="600">
            <div class="bg-base p-4 rounded-4 shadow-effect">
              <h4>Full-stack Developer</h4>
              <p class="text-brand mb-2">NEOLAND (2022 - 2023)</p>
              <p class="mb-0">Bootcamp in NEOLAND by Full-Stack Developer. Learning and acquiring knowledge to carry out
                web projects with different programming languages. In addition to learning with Style-components, React
                libraries and the Git version control implementation</p>
            </div>
          </div>

          <div class="col-12" data-aos="fade-up" data-aos-delay="600">
            <div class="bg-base p-4 rounded-4 shadow-effect">
              <h4>Branch agent</h4>
              <p class="text-brand mb-2">Euro Rent A Car (2017 - 2021)</p>
              <p class="mb-0">As a Branch Agent, I worked in the area of opening and closing contracts, checking and
                receiving vehicles, fleet transfers to other branches nationwide, among others.</p>
            </div>
          </div>

          <div class="col-12" data-aos="fade-up" data-aos-delay="600">
            <div class="bg-base p-4 rounded-4 shadow-effect">
              <h4>Marketing analyst</h4>
              <p class="text-brand mb-2">Innova Solutions (2016 - 2017)</p>
              <p class="mb-0">My responsibilities as a marketing analyst were to actively participate in the realization
                of campaigns and strategies for clients from different fields, implementing all digital marketing
                channels.</p>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

</section>

<!-- ABOUT -->