
<div data-bs-spy="scroll" data-bs-target=".navbar">

  <!-- NAVBAR -->
  <app-navbar></app-navbar>
 

  <!-- CONTENT WRAPPER -->
  <div id="content-wrapper">

    <!-- HOME  -->
    <app-home></app-home>
    
    <!-- SERVICES -->
    <app-services></app-services>
    
    <!-- SKILL -->
    <app-skill></app-skill>

    <!-- WORK -->
    <app-work></app-work>

    <!--ABOUT -->
    <app-about></app-about>

    <!-- CONTACT -->
    <app-contact></app-contact>
    
    <!-- FOOTER -->
    <app-footer></app-footer>
    
  </div> 

</div>