<!-- SERVICES -->

<section id="services" class="full-height px-lg-5">
  <div class="container">

    <div class="row pb-4" data-aos="fade-up">
      <div class="col-lg-8">
        <h6 class="text-brand">Servicios</h6>
        <h1>Servicios Que Brindo</h1>
      </div>
    </div>

    <div class="row gy-4">

      <div class="col-md-4" data-aos="fade-up">
        <div class="service p-4 bg-base rounded-4 shadow-effect">
          <div class="iconbox rounded-4">
            <i class="las la-laptop-code"></i>
          </div>
          <h5 class="mt-4 mb-2">Desarrollo Web</h5>
          <p>Maquetación, programación de páginas web con (Html, Css, JavaScript) y Desarrollo de aplicaciones web con (Angular y React)</p>
        </div>
      </div>

      <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
        <div class="service p-4 bg-base rounded-4 shadow-effect">
          <div class="iconbox iconbox3 rounded-4">
            <i class="las la-mobile-alt"></i>
            <i class="las la-desktop"></i>
            <i class="las la-tablet-alt"></i>
          </div>
          <h5 class="mt-4 mb-2">Diseño Responsive</h5>
          <p>Sitios Web responsive, Mobile First. Para que tu web se vea perfecta en todos los dispositivos.</p>
        </div>
      </div>

      <div class="col-md-4" data-aos="fade-up" data-aos-delay="600">
        <div class="service p-4 bg-base rounded-4 shadow-effect">
          <div class="iconbox rounded-4">
            <i class="las la-tools"></i>
          </div>
          <h5 class="mt-4 mb-2">Apoyo</h5>
          <p>Se implementan soluciones web a un problema, con buenas prácticas, así como un estándar dependiendo de las tecnologías utilizadas.</p>
        </div>
      </div>

    </div>

  </div>
</section>

<!-- SERVICES -->