<!-- HOME -->

<section id="home" class="full-height px-lg-5">

  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <h1 class="display-4 fw-bold" data-aos="fade-up">SOY <span class="text-brand">DESARROLLADOR WEB</span></h1>
        <p class="lead mt-2 mb-4" data-aos="fade-up" data-aos-delay="300"><span class="text-brand">Hola,</span> soy
          Andrew Rojas, y siempre me ha apasionado la tecnología, desde hace un tiempo me ha interesado mucho
          codificación y en ver todas las cosas posibles que podemos construir a partir de ella. La tecnología está creciendo más rápido cada día, y sabemos que la mayor parte del desarrollo en el mundo se debe a ello. Por eso sigo fortaleciendo mis conocimientos y habilidades a través del aprendizaje constante.</p>
        <div data-aos="fade-up" data-aos-delay="600">
          <a href="#work" class="btn btn-brand me-3">Explora Mi Trabajo</a>
          <a href="../assets/docs/Andrew-Rojas-cv.pdf" target="_blank" class="btn btn-brand me-3"
            download="Andrew-Rojas-cv.pdf">Descargar CV</a>
        </div>
      </div>
    </div>
  </div>

</section>

<!-- HOME -->