<!-- HOME -->

<section id="home" class="full-height px-lg-5">

  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <h1 class="display-4 fw-bold" data-aos="fade-up">I'M A <span class="text-brand">WEB DEVELOPER</span></h1>
        <p class="lead mt-2 mb-4" data-aos="fade-up" data-aos-delay="300"><span class="text-brand">Hi,</span> I am
          Andrew Rojas, I've always been passionate about technology, and for some time now I've been very interested in
          coding and in seeing all the possible things we can build from it. Technology is growing faster every day, and
          we know that most of the development in the world is due to it. That's why I keep strengthening my knowledge
          and skills through constant learning.</p>
        <div data-aos="fade-up" data-aos-delay="600">
          <a href="#work" class="btn btn-brand me-3">Explore My Work</a>
          <a href="../assets/docs/Andrew-Rojas-cv.pdf" class="btn btn-brand me-3"
            download="Andrew-Rojas-cv.pdf">Download Cv</a>
        </div>
      </div>
    </div>
  </div>

</section>

<!-- HOME -->